    @font-face {
        font-family: "iconfont";
        /* Project id 2525949 */
        src: url('./font/iconfont.woff2?t=1620104961402') format('woff2'),
            url('./font/iconfont.woff?t=1620104961402') format('woff'),
            url('./font/iconfont.ttf?t=1620104961402') format('truetype');
    }

    .iconfont {
        font-family: "iconfont" !important;
        font-size: 16px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-zonglanxiushi:before {
        content: "\e609";
    }

    .icon-zonglan:before {
        content: "\e60a";
    }
